{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "warn"
    ],
    "linebreak-style": [
      "warn",
      "windows"
    ],
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "indent": "off",
    "no-trailing-spaces": "off"
  }
}